.wrapperButton{
    display: inline-flex;
    padding: 2px;
    margin: 2px;
    color: #fff;
    width: 30px;
    border-radius: 5px;
    cursor: pointer;
}
.selectPage{
   font-weight: bold;
   border-radius: 5px;
   background-color: darkslateblue;
}
.wrapperButton:hover ,
.wrapperButton:focus {
    background: rgb(108, 104, 136);
}

.wrapperButton {
   text-align: center;
}
