.header{
  display: flex;
  justify-content:flex-end;
  align-items:center;
    margin: 10px;
    grid-area: h;
    background-color: rgb(133, 152, 236);
    border-radius: 1ch;
  }
  
  .header img {
  
    width: 80px;
  }

  .header .blockLogin  {
    padding: 10px;

  }