.ProfileInfo {
    display: flex;
    flex-wrap: wrap;
  
}
.ProfileInfo img {
    width: 250px;
    height: auto;
    border-radius: 1ch;
  
}

.contact .jobimg img{
    width: 50px;
    height: auto;
}

.ProfileInfo div {
    margin: 10px;
}