.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItem {
    padding: 10px;
}

.dialogItem .active{
    color: rgb(255, 247, 204);
}


.messages {
    padding: 10px;
   
}

.messages div {
    display: table;
    
    margin: 5px;
    border-radius: 10px;
    padding: 5px 5px 5px 10px ;
    
}
.messages div:nth-child(2) {
    
     padding-right: 10px;
}


.message {
    background-color: rgb(135, 135, 189);

}

.avaImage{
   float: left;
   max-width: 25%;

}

.avaImage img
{
    border-radius: 35px;
    width: 40px;
    height: 40px;
}


.sendMessage {
    display: flex;
    width: 100fr;
    float:right;

    }

    button.buttons {
        width: 150px;
        height: 30px;
        text-decoration: none;
        padding-top: 9px;
        color: #a675b3;
        text-align: center;
        line-height: 20px;
        display: block;
        margin: 20px auto;
        font: normal 17px arial;
      }
      
      button.buttons:not(.active) {
        box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
        background-image: linear-gradient(#3b2751, #271739);
        text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
      }
      
      button.buttons:not(.active):hover,
      button.buttons:not(.active):focus {
        transition: color 200ms linear, text-shadow 500ms linear;
        color: #fff;
        text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
      }
      button.buttons:not(:hover) {
          transition: 0.6s;
      }